<div class="modal hide" id="AddModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Task</h3>
  </div>
  <div class="modal-body">
	<%= form_for :new, :url => {:controller => "activity", :action => "post_add"}, :html => {:class => "form-horizontal"} do |form| %>
		<div class="control-group">
			<%= form.label "Task Name:", :class => "control-label" %>
			<div class="controls">
				<%= form.text_field :task_name, {:class => 'input-medium'} %>
		    </div>
		</div> 
		<div class="control-group">
			<%= form.label "Days till timeout:", :class => "control-label" %>
            <div class="controls">
				<%= form.select :time_out, 1..10, {:selected => 4}, :class => 'span1' %>
            </div>
		</div>
		<div class="control-group">
			<%= form.label "Last Completed:", :class => "control-label" %>
            <div class="controls">
				<div class="input-append date" id="datepicker" data-date="<%=Time.now.getlocal.strftime("%m/%d/%Y")%>">
					<%= form.text_field :last_completed, :value => Time.now.getlocal.strftime("%m/%d/%Y"), :class => 'span2' %>
					<span class="add-on"><i class="icon-th"></i></span>
				</div>
            </div>
        </div>
		<div class="control-group">		
			<%= form.label "Reminders:", :class => "control-label" %>
			<div class="controls">
				<label class="checkbox">
					<%= form.check_box :text_option, {:checked => "checked"} %> Send me reminders by <b>text message</b>
				</label>
				<label class="checkbox">
					<%= form.check_box :email_option, {} %> Send me reminders by <b>email</b>
				</label>
          	</div>
		</div>
	</div>
	<div class="modal-footer">
		<%= form.submit "Create Task!", :class => "btn btn-primary btn-large" %>
	</div>
	<% end %>
</div>

<script>
	$(function()
	{
		$('#datepicker').datepicker();
		
		$('#datepicker').datepicker().on('changeDate', function(ev)
		{
			$('#datepicker').datepicker('hide');
		});
	});
</script>