<div class="container">

  <!-- hero unit -->
  <div class="hero-unit" style = "padding-top: 20px; width: 950px;">
    <h1 style = "font-size: 80px">Tasks:</h1>
	<hr/>
	<br/>
	<table cellspacing="5" cellpadding="20">
		
		<!-- sort the activities according to priority of when they are due -->
		<% sorted_activities = @activities.sort { |a,b| (Time.now.getlocal.to_date.mjd - b.time.mjd) - b.time_out <=>
														(Time.now.getlocal.to_date.mjd - a.time.mjd) - a.time_out } %>
 		<% sorted_activities.each do |activity| %>
			
			<% days_since_completion = Time.now.getlocal.to_date.mjd - activity.time.mjd %>
			<% days_overdue = days_since_completion - activity.time_out %>			
			
			
			<tr id = "rowid<%= activity.id %>">
				<td>		
					<%= render :partial => 'update', :locals => {:activity => activity}%>
					<%= render :partial => 'edit', :locals => {:activity => activity} %>
										
					<% if days_overdue >= 0 %>
						<a class= "btn btn-danger btn-large" id= "test" style="font-size: 40px" data-toggle="modal" href="#myModal<%=activity.id%>"><%= activity.name %></a>

					<% else %>
						<a class= "btn btn-info btn-large" style="font-size: 40px" data-toggle="modal" href="#myModal<%=activity.id%>"><%= activity.name %></a>
																							
					<% end %>
				</td>
				<td nowrap="nowrap"	>
					<p>	Last Completed: <b> <%= formatDay(activity.time) %> </b> <span style = "opacity: 0;">-</span>
					
					<% if days_overdue >= 0 %>
						<font color = "red">
					<% else %>
						<font color = "1F0F7A">
					<% end %>
							<span style = "opacity: .85;"><i><% if days_since_completion == 0 %>Today<% elsif days_since_completion == 1 %>Yesterday<% else %><%= days_since_completion %> days ago<% end %></i></span>
							<br/>
							<span style = "opacity: 0;">Last Completed: </span>
							<% if days_overdue < 0 %>
								<% if days_overdue == -1 %>
									Due tomorrow
								<% else %>
									Due in <%= days_overdue.abs %> days
								<% end %>
							<% else %>
								<% if days_overdue == 0 %>
									<b>Due today</b>
								<% elsif days_overdue == 1 %>
									<b>Due yesterday</b>
								<% else %>
									<b>Due <%= days_overdue %> days ago</b>
								<% end %>
							<% end %>
						</font>
					</p>
				</td>
				<td nowrap="nowrap">
					<ul class="nav nav-pills">
						<li class = "active"><a data-toggle="modal" href="#EditModal<%=activity.id%>">Edit Task</a></li>
					</ul>
				</td>
			</tr>
		<% end %>
	</table>
	</div>

<script>
	document.getElementById("home").className = "active"
	
	$(function()
	{
		$('.datepick').each(function()	
		{
		    $(this).datepicker();
			
			$(this).datepicker().on('changeDate', function(ev)
			{
				/*
				var currentTime = new Date()
				
				//Invalid Date Chosen
				if(ev.date.valueOf() > currentTime.valueOf())
				{
					$('#alert').show().find('strong').text('Date chosen has not happened yet!');
				}
				
				//Valid Date Chosen
				else
				{
					$('#alert').hide();
				}
				*/
				$(this).datepicker('hide');
			});
		});
	});
</script>

<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script type="text/javascript">
	var pusher = new Pusher('<%= Pusher.key %>');
  	var channel = pusher.subscribe('taskreminder');
  	channel.bind('update', function(data)
	{
		location.reload();
		//newRow = "<tr><td>sdfsdf</td><td>sdfsdf</td><td>sdfsdf</td></tr>";
		//newRow = "<tr><td>"+ data.one +"</td>" + "<td>" + data.two + "</td>" + "<td>" + data.three "</td></tr>";
		//$('#rowid3').replaceWith(newRow);
  	});
</script>