<!DOCTYPE html>
<html>
<head>
  	<title>Task Manager</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">

	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <a class="brand" href="/home/index">Task Manager</a>
		
		  <!-- Not logged in -->
		  <% if session[:user_id].nil? %>
			<ul class="nav pull-right">
				<li id = "login"><a href="/user/login">Log In / Register</a></li>					
			</ul>
			
		 <!-- Logged in --> 
		  <% else %>
		  <div class="btn-group pull-right">
	        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			  <% @username = User.find_by_id(session[:user_id]).username %>
			  <% @number = format_number(User.find_by_id(session[:user_id]).number) %>
	          <i class="icon-user"></i> <b><%= @username %></b> <%= @number %>
	          <span class="caret"></span>
	        </a>
	        <ul class="dropdown-menu">
	          <li><a href="/user/edit">Settings</a></li>
	          <li class="divider"></li>
	          <li><a href="/user/logout">Sign Out</a></li>
	        </ul>
		  </div>
		  <div class="nav-collapse">
	        <ul class="nav">
				<li id = "home"><a href="/home/index">Home</a></li>
	      	</ul>
	      </div>
		  <% end %>
	    </div>
	  </div>
	</div>
	
	<% if !session[:username].nil? %>
		<%= render :partial => 'activity/add' %>
	<% end %>
<br/>
<br/>
<br/>
<br/>
<%= yield %>

 <footer>
    <p>&copy; Rahul Mitra</p>
  </footer>

</div> <!-- /container -->

</body>
</html>
